.app {

  background: #31525B;
  /* background-image: url('../backend/hamsterImages/backgroundHamster.jpg'); */
  /* background-size: cover; */
  height: 100vh;
  /* position: fixed; */
  color: #FFA101;
}

.image {
  width: 250px;
  height:200px;
}


.nav-link {
  padding: 15px;
  color: #FFA101;
  text-decoration: none;
 /* display: flex;
 justify-content: center; */
font-size: 25px;
}

.nav-link:hover {
  color: skyblue;
}

.main-div {
  height: 100vh;
  
  }

.footer {
  color: #FFA101;
  text-align: center;
}

button{
  background-color: #FFA101;
}