body {
  height: 100vh;;
}
.app {

  background-color: #31525B;
  /* background-image: url('../backend/hamsterImages/bcg-i-3.jpg'); */
  /* background-size: cover; */
  min-height: 100vh;
  /* position: fixed; */
  color: #FFA101;
  font-family: 'Roboto', sans-serif;
  
}
main {
  background-color: #31525B;
  
 
}

.image {
  width: 250px;
  height:200px;
}


.nav-link {
  padding: 15px;
  color: #FFA101;
  text-decoration: none;
 /* display: flex;
 justify-content: center; */
font-size: 25px;
}

.nav-link:hover {
  color: skyblue;
}

.main-div {
  height: 100vh;
  
  }

.footer {

  width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #B3DEE5;
  color: #FFA101;
  text-align: center;
}

button{
  background-color: #FFA101;
}